<mat-toolbar>
  <button mat-icon-button aria-label="menu icon" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tasks List</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="timeInterval">Change view</button>
  <mat-menu #timeInterval>
    <button mat-menu-item (click)="onViewSelect('day')">Day</button>
    <button mat-menu-item (click)="onViewSelect('3 days')">3 days</button>
    <button mat-menu-item (click)="onViewSelect('week')">Week</button>
  </mat-menu>
</mat-toolbar>
